a{
	text-decoration: none;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#layoutAuthentication_content main{
	display: flex;
	align-items: center;
	height: 100vh;
}
#layoutSidenav_content h1{
	text-transform: capitalize;
}
.nav-link{text-transform: capitalize;}
.form-control:focus, .dataTable-input:focus,.form-check-input:focus,.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:focus + .btn, .btn:focus,.form-select:focus, .dataTable-selector:focus
{
	box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	border-color: #86b7fe;
}
.form-control:focus, .dataTable-input:focus{
	color: transparent;
	background-color: transparent;
}
.btn-check:focus + .btn, .btn:focus{border-color: transparent;}
.btn-box .btn{
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-primary:hover{background-color: transparent;color: #000;}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, 
.show > .btn-primary.dropdown-toggle
{ 
     background-color: transparent;
     border-color: transparent;
}
.card-header h3{
	font-size: 25px;
}